.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}

@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
}
/* Make the accordion headers stick to the top when scrolling content */
.mobile-only .rmwc-collapsible-list__handle {
  position: sticky;
  top: 0px;
  z-index: 4;
  /* Ensure header background covers content behind */
  background: var(--color-bg);
}
